.movieList {
    margin-bottom: 30px;
}
.movieList h2 {
    margin: 0px 0px 0px 30px;
}

.movieList--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieList--list {
    width: 999999999px;
}

.movieList--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

/* effects items image */
.movieList--item img { 
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieList--item img:hover {
    transform: scale(1);
}

